body{
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  cursor: pointer;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FF4500;
  border-radius: 10px 10px 10px 10px;
}


.bg-text {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  padding: 0px;
  text-align: center;
  color: white;
}
.toptext{
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 5px 0px 0px 5px;
}